# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Seq
SEQ_ADMIN_PASSWORD=

# Grafana
GRAFANA_ADMIN_PASSWORD=

# JWT
JWT__Secret=
JWT__Issuer=
JWT__Audience=

# Email (Mailpit in dev)
SMTP__Host=
SMTP__Port=